&soc { 
	i2c@78b7000 { /* BLSP1 QUP3 */
		status = "okay";
		/delete-node/ synaptics@4b;
	        vituralsar@33{
			compatible = "virtualsar,sar";
			reg = <0x33>;
			interrupt-parent = <&tlmm>;
			interrupts = <130 0x02>;
			vituralsar,irq-gpio = <&tlmm 130 0x2008>;
		};
    };
};